body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer {
    margin-top: auto;
}
.nav-sidebar .nav-link:not(.active) {
    color: inherit;
}
.nav-sidebar .nav-link.active {
    font-weight: bold;
}
